<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/custom.css">
    <title>{% block title %}Home{% endblock %} - Music App</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="../static/custom.js"></script>
</head>
<body>
    <!-- Header section -->
    <header>
        {% block header %}
        <div class="nav navbar nav-underline navbar-expand-sm navbar-dark bg-black">
            <div class="container">
                <a class="navbar-brand" href="/">Sangeet</a>
                <!-- Here on there are nav items below -->
                <div class="ms-sm-5 collapse navbar-collapse" id="nav">
                    <ul class="navbar-nav">
                        <!-- Nav items home, explore and library, will be populated on respective pages -->
                        {% block left_nav_options %}
                        <li class="nav-item">
                            <a class="nav-link" href="/user/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/explore">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/library">Library</a>
                        </li>
                        {% endblock left_nav_options %}
                    </ul>    
                </div>
                <!-- search bar -->
                <div class="me-sm-5">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <!-- Profile details and other options, based on the user type -->
                <div class="nav-item dropdown dropdown-center">
                    <img class="show-profile-pic nav-link text-white dropdown-toggle d-inline" data-bs-toggle="dropdown" href="#" role="button" src="../static/images/adele.jpg" alt="">
                    <ul class="dropdown-menu" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="/user/profile">My Profile</a></li>
                        <!-- Anything else that may need to be added based on the user type. For example for user it will be register as creator -->
                        {% block role_specific_info %}
                        {% endblock %}
                        <li><a class="dropdown-item" href="/user/preferences">Preferences</a></li>
                    </ul>
                </div>

            </div>
        </div>        
        {% endblock %}
    </header>


    <!-- Main section -->
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <!-- Footer section -->
    <!-- <footer>
        <p>Copyright 2023</p>
    </footer>

 -->

</body>
</html>