{% if current_user.role == 'admin' %}
<li class="dropdown dropdown-center list-unstyled">
    <a class="dropdown-toggle text-decoration-none text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Take Action
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/admin/action/track/flag/{{song.id}}">Flag</a></li>
      <li><a class="dropdown-item" href="/admin/action/track/remove/{{song.id}}">Remove</a></li>
    </ul>
</li>

{% endif %}