{% macro submit_form_button_POST(label, data, url, color, size) %}
    <form action="{{url}}" method="post">
    {% for entry in data %}
            <input type="hidden" name="{{entry}}" value="{{ data[entry] }}">
    {% endfor %}
    <button class="btn btn-{{size}} btn-{{color}}" type="submit">{{label}}</button>
    </form>
{% endmacro %}

{% macro submit_form_icon_POST(icon_class, data, url) %}
    <form action="{{url}}" method="post">
    {% for entry in data %}
            <input type="hidden" name="{{entry}}" value="{{ data[entry] }}">
    {% endfor %}
    <button type="submit hidden" style="border: none; background: none; outline:none; cursor: pointer; padding: 0;">
        <i type="submit" class="bi {{icon_class}}"></i>
    </button>
    </form>
{% endmacro %}



{% macro submit_form_button_GET(label, data, url, color, size) %}
    <form action="{{url}}" method="get">
    {% for entry in data %}
            <input type="hidden" name="{{entry}}" value="{{ data[entry] }}">
    {% endfor %}
    <button class="btn btn-{{size}} btn-{{color}}" type="submit">{{label}}</button>
    </form>
{% endmacro %}

{% macro submit_form_icon_GET(icon_class, data, url) %}
    <form action="{{url}}" method="get">
    {% for entry in data %}
            <input type="hidden" name="{{entry}}" value="{{ data[entry] }}">
    {% endfor %}
    <button type="submit hidden" style="border: none; background: none; outline:none; cursor: pointer; padding: 0;">
        <i type="submit" class="bi {{icon_class}}"></i>
    </button>
    </form>
{% endmacro %}