# Don't exclude any subdirectory structure
!/*/

tmp/
.config/
test_app/
.notes/

# Added to ignore python and flask files
*.pyc
__pycache__/


instance/*
sangeet/static/music/*
sangeet/static/user_data/*/*
# Don't exclude directories themselves
!sangeet/static/user_data/*/



.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

#Ignore Virtual environment
.sangeet_app_venv/
