tmp/
.config/
test_app/
.notes/

# Added to ignore python and flask files
*.pyc
__pycache__/


instance/
sangeet/static/music/
sangeet/static/user_data/
sangeet/static/sangeet_data/


.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

#Ignore Virtual environment
.sangeet_app_venv/
