{% extends appropriate_layout %}
{% set home_link = 'active' %}


{% block main %}
<!-- Include flash messages -->
<div class="m-0 p-0">
    {% include 'includes/general/modal_flash_message.html' %}
</div>    

{% for entry in content %}
    {% set cat_link=content[entry]['cat_link'] %}
    {% set tracks=content[entry]['items'] %}

    {% set title=content[entry]['title'] %}
    {% set link_name='Any Link' %}
    {% set link_address=content[entry]['cat_link'] %}
    {% include 'music/track_listings.html' %}
    
{% endfor %}
{% endblock %}