<!-- List of Songs for users -->
{% macro user_list_of_songs(title='Title') %}
<div class="container mt-5 border border-1 rounded-2 border-dark p-3">
            <div class="hstack px-2">
                <h3 class="rounded-3 bg-danger-subtle p-2">{{title}}</h3>
                <a href="#" class="rounded-3 bg-primary-subtle p-2 lead link-dark ms-auto pe-3">More</a>
            </div>
        <!-- Looping through all the songs -->
        {% for i in range(5) %}
            <!-- small long items of songs -->
            <div class="row gap-3 justify-content-evenly align-items-center p-2 m-2 bg-success-subtle rounded-2">
                <div class="col lead">
                    Aaj fir jeene ki tammana hai
                </div>
                <div class="col">
                    <form class="hstack gap-3" action="#">
                        <!-- Player for the song -->
                        <audio id="player"src="#"></audio>
                        <div>
                            <div class="hstack gap-1 justify-content-evenly align-items-center">
                                <button class="btn btn-sm btn-outline-success" onclick="document.getElementById('player').play(); "document.getElementById('player').('hello')"">Play</button>
                                <button class="btn btn-sm btn-outline-success" onclick="document.getElementById('player').pause()">Pause</button>
                                <button class="btn btn-sm btn-outline-success" onclick="document.getElementById('player').muted=!document.getElementById('player').muted">Lyrics</button>
                            </div>            
                        </div>    
                        <!-- for collecting the rating of the song -->
                        <div class="hstack gap-1">
                            <select class="col btn btn-sm btn-secondary" name="rating" id="rating">
                                <option value="">?</option>
                                {% for i in range(1, 6) %}
                                <option value="{{i}}">{{i}} *</option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-sm btn-primary" formaction="/user/rating" type="submit" value="Rate">
                        </div>
                        <!-- for adding the song to a specific playlist -->
                        <div class="col hstack gap-1">
                            <select class="btn btn-sm btn-secondary" name="add_to_playlist" id="add_to_playlist">
                                <option value="Add to Playlist">Choose Playlist</option>
                                {% for playlist in my_playlists %}
                                    <option value="{{playlist}}">{{playlist}}</option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-sm btn-primary" formaction="/user/add_to_playlist" type="submit" value="Add">
                        </div>
                    </form>    
                </div>
            </div>
            <!-- end long items of songs -->
        {% endfor %}
</div>
{% endmacro %}


<!-- Macro for getting flashed messages to show up with a defined color -->
{% macro flash_message() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes list-unstyled">
        {% for category, message in messages %}
            {% if category == 'error' %}
                <li class="alert alert-danger">{{ message }}</li>
            {% elif category == 'success' %}
                <li class="alert alert-success">{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% endmacro %}


