{% extends appropriate_layout %}

{% block main %}
<div class="container-fluidq" style="width: 70%;">
    <div class="col-md-6 mx-auto">
        <div class="m-0 p-0">
            {% set flash_message_links={'My Songs':'/my_content/songs'} %}
            {% include 'includes/general/modal_flash_message.html' %}
        </div>
        <form class="form-control vstack gap-2" action="/track/edit" method="post" enctype="multipart/form-data">
            <div class="hstack px-3 py-5 bg-success-subtle text-white rounded-2 sangeet-background">
                <div class="h3 text-center">
                    Edit Track
                </div>
                <div class="ms-auto">
                    <button type="submit" class="btn btn btn-success">Update</button>
                </div>
            </div>
            <div class="form-floating">
                <input class="form-control" name="name" value="{{track.name}}" id="track_title" placeholder="track_title" type="text" required>
                <label class="form-label" for="track_title">Track Title</label>
            </div>
            <div class="form-floating">
                <input class="form-control" name="artist_name" value="{{track.artist_name}}" id="artist_name" placeholder="artist_name" type="text" required>
                <label class="form-label" for="artist_name">Artist Name</label>
            </div>
            <!-- hidden input for creator_id and track id -->
            <input hidden name="track_id" value="{{track.id}}" type="text">
            <input hidden name="creator_id" value="{{current_user.id}}" type="text">
            
            <select name="genre_id" class="form-select form-select-lg ">
                <option selected value="None">Genre</option>
                {% for genre in genres %}
                    {% if track.genre == genre %}
                        <option selected value="{{genre.id}}">{{genre.name}}</option>
                    {% else %}
                        <option value="{{genre.id}}">{{genre.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="album_id" class="form-select form-select-lg ">
                <option selected value="None">Assign Album</option>
                {% for album in current_user.albums %}
                    {% if track.album == album %}
                        <option selected value="{{album.id}}">{{album.name}}</option>
                    {% else %}
                        <option value="{{album.id}}">{{album.name}}</option>>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="border border-light-subtle p-2 rounded-2">
                <label for="audio_file" class="form-label">Audio File</label>
                <input class="form-control" name="file" value="/home/ankit/Music/" type="file" id="audio_file">
            </div>
            <div class="form-floating">
                {% if track.lyrics %}
                    <textarea class="form-control" style="height: 600px;" name="lyrics" placeholder="lyrics" id="lyrics">{{track.lyrics[0].lyrics}}</textarea>
                {% else %}
                    <textarea class="form-control" style="height: 600px;" name="lyrics" placeholder="lyrics" id="lyrics"></textarea>
                {% endif %}
                    <label for="lyrics">Lyrics</label>
            </div>
        </form>
    </div>
</div>

{% endblock main %}