{% extends appropriate_layout %}

{% block main %}

<div class="container-fluidq" style="width: 70%;">
    <div class="col-md-6 mx-auto">
        <form class="form-control vstack gap-2" action="/track/upload" method="post" enctype="multipart/form-data">
            <div class="hstack px-3 py-5 bg-success-subtle text-white rounded-2 sangeet-background">
                <div class="h3 text-center">
                    Upload Track
                </div>
                <div class="ms-auto">
                    <button type="submit" class="btn btn btn-success">Upload</button>
                </div>
            </div>
            <div class="form-floating">
                <input class="form-control" name="song_title" id="song_title" name="song_title" placeholder="song_title" type="text" required>
                <label class="form-label" for="song_title">Track Title</label>
            </div>
            <div class="form-floating">
                <input class="form-control" name="artist_name" id="artist_name" name="artist_name" placeholder="artist_name" type="text" required>
                <label class="form-label" for="artist_name">Artist Name</label>
            </div>
            <!-- hidden input for creator_id -->
            <input hidden name="creator_id" value="{{current_user.id}}" type="text">
            <select name="genre_id" class="form-select form-select-lg ">
                <option selected>Genre</option>
                {% for genre in genres %}
                    <option value="{{genre.id}}">{{genre.name}}</option>
                {% endfor %}
            </select>
            <select name="album_id" class="form-select form-select-lg ">
                <option selected value="None">Assign Album</option>
                {% for album in current_user.albums %}
                    <option value="{{album.id}}">{{album.name}}</option>
                {% endfor %}
            </select>
            <div class="border border-light-subtle p-2 rounded-2">
                <label for="audio_file" class="form-label">Audio File</label>
                <input class="form-control" name="file" type="file" id="audio_file" required>
            </div>
            <div class="form-floating">
                <textarea class="form-control" style="height: 600px;" name="lyrics" placeholder="lyrics" id="lyrics"></textarea>
                <label for="lyrics">Lyrics</label>  
            </div>
        </form>
    </div>
</div>


{% endblock main %}