{% extends 'music/general_track_listing.html' %}
{% from 'macros/general.html' import submit_form_icon_POST %}

{% block user_specific_options %}

<!-- show filled flag if already flagged else hollow -->
{% if not False %}
    {{submit_form_icon_POST("bi-flag hidden-element", data={'track_id':1}, url="/test")}}
{% else %}
    {{submit_form_icon_POST("bi-flag-fill hidden-element", data={'track_id':1}, url="/test")}}
{% endif %}

{{submit_form_icon_POST("bi-trash hidden-element", data={'track_id':1}, url="/test")}}

{% endblock %}