
<div class="row gap-3 justify-content-evenly align-items-center p-2 bordered rounded m-1 song-row">
    <div class="custom-index-col">
        <span class="to-be-hidden-element">
            <i class="bi bi-music-note-beamed"></i>
        </span>
        <span class="hidden-element"><i class="bi bi-play-circle-fill"></i></span>
    </div>
    <div class="col-2 text-truncate underline_on_hover">
        <a href="/music/player/{{track.id}}">
            {{track.name}}
        </a>
    </div>
    <div class="col text-truncate underline_on_hover">
        {{track.artist_name}}
    </div>
    <div class="col text-truncate underline_on_hover">
        <a href="/music/album/{{track.album.id}}">{{track.album.name}}</a>
    </div>
    <div class="col text-truncate underline_on_hover">
        <a href="/music/genre/{{track.genre.id}}">{{track.genre.name}}</a>
    </div>
    <div class="col text-truncate underline_on_hover">
        <a href="/music/language/{{track.language.id}}">{{track.language.name}}</a>
    </div>
    <div class="col-2 hstack gap-3 text-center">
        <div>
            {{submit_form_icon_POST("bi-star hidden-element", data={'track_id':1}, url="/test")}}
        </div>
        <!-- User specific options will be included here -->
        {% block user_specific_options %}{% endblock %}
        <!-- Include music based options like remove from album and playlist -->
        {% block music_specific_options %}{% endblock %}
        <div class="dropdown">
            <!-- Here's just the trigger button for showing the modal to save the playlist. The actual modal is appended below becuase keeping everthing (button and modal) doesn't work -->
            <div class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical hidden-element"></i>
            </div>
            <ul class="dropdown-menu">
            <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-for-pl-{{track.id}}">
                    <i class="bi bi-plus-square text-decoration-none"></i> Save to playlist
                </button>
            </li>
            <li><a class="dropdown-item" href="/music/artist/{{track.creator.id}}"><i class="bi bi-person"></i> Go to artist</a></li>
            <li><a class="dropdown-item" href="/music/album/{{track.album.id}}"><i class="bi bi-disc"></i> Go to Album</a></li>
            </ul>
        </div>
    </div>
    <div class="custom-duration-col text-end">
        {{track.duration}}
    </div>
</div>

<!-- Modal to save the playlist dropdown-item -->
<div class="modal" id="modal-for-pl-{{track.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Save to playlist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul style="list-style: none;">
                {% for playlist in current_user.playlists %}
                    {% if track in playlist.tracks %}
                        {% set link_for_playlist="/playlist/modify/remove_track" %}
                    {% else %}
                        {% set link_for_playlist="/playlist/modify/append_track" %}
                    {% endif %}
                    <li class="ms-2">
                        <form action={{link_for_playlist}} method="post">
                            <input type="hidden" name="action" value="append_track">
                            <input type="hidden" name="track_id" value="{{track.id}}">
                            <input type="hidden" name="playlist_id" value="{{playlist.id}}">
                            <button class="btn btn-sm btn-{{color}}" type="submit">
                                <div class="h6 lead">
                                    {% if track in playlist.tracks %}
                                        <i class="bi bi-check-square"></i>
                                    {% else %}
                                        <i class="bi bi-square"></i>
                                    {% endif %}
                                    {{playlist.name}} 
                                </div>
                            </button>
                        </form>
                    </li>
            {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="/playlist/create"><i class="bi bi-plus-lg"></i> New playlist</a>
        </div>
    </div>  
    </div>
</div>

