{% set content = music_data.get('content') %}
{% set links = music_data.get('links') %}
{% set content_card_path = music_data.get('content_card_path') %}
{% set content_type = music_data.get('content_type') %}


<div class="container mt-5 mb-3 pt-3 pb-2 border border-1 rounded-2 border" style="min-height: 35rem;">
    <div class="nav nav-tabs m-1">
        <h2>{{title}}</h2>
        <div class="ms-auto underline_on_hover hstack gap-3">
            {% if links %}
                {% for link in links %}
                    <a href="{{ links.get(link) }}" class="lead ms-auto">{{link}}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if content %}
        {% for list in content %}
            <div class="m-2 hstack gap-3 overflow-auto">
                {% for item in list %}
                    <div>
                        {% include music_data['content_card_path'] %}
                    </div>
                {% endfor %}
            </div>
            <hr class="my-4">
        {% endfor %}
    {% else %}
        <div class="lead text-center" style="margin-top: 13rem;">
            No {{content_type}} found!
        </div>
    {% endif %}
    <br><br>

</div>

