{% extends appropriate_layout %}
{% from 'macros/general.html' import submit_form_icon_POST %}

{% block page_title %}Test Page{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/music_listing_pages.css">
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center align-items-center border border-2 rounded-2 bg-success-subtle" style="height: 350px;">
        <div class="col-3 text-center">
            <img src="../../static/images/icons/adele.jpg" onerror="this.src='../../static/images/icons/alternate.avif'" style="width: 250px; height:250px; border-radius:5px;" alt="Artist Image">
        </div>
        <div class="col">
            <div class="h2">
                {% block page_name %}
                    {{content.name.capitalize()}}
                {% endblock %}
            </div>
            <div>Public • Curator</div>
            <div>{{content.tracks | length}} Tracks</div>
            <div class="hstack gap-3 lead py-2">
                {% block extra_options %}{% endblock %}
            </div>
            <div class="hstack gap-2">
                <div class="border border-1 border-dark p-2 rounded rounded-2" >
                    <i class="bi bi-play-fill"></i> Play
                </div>
                <div style="font-size: 30px;"><i class="bi bi-three-dots-vertical"></i></div>
            </div>
        </div>
    </div>    
</div>

<div class="container mt-5 mb-3 pt-3 pb-2 border border-1 rounded-2 border">
    <div class="nav nav-tabs m-1">
        <h2>Songs</h2>
    </div>
  
    {% for single_track_data in tracks.values() %}
        {% set track = single_track_data['track'] %}
        {% include track_listing_template %}
    {% endfor %}
    <a style="width: 100px;" class="btn btn-success btn-sm rounded-2 p-2 m-2 d-inline-block text-decoration-none" href="/music/all/{{main_category}}/{{content.id}}">
        Show all
    </a>
    
</div>
{% block any_relevant_things %}{% endblock %}

{% endblock %}