{% extends 'music/general_track_listing.html' %}
{% import 'macros/general.html' as general_macros %}

{# Adding options for track based on role #}
{% block user_specific_options %}

{% set music_access_level = single_track_data['track_listing_type']['role'] %}

{% if music_access_level == 'creator' %}
    {{general_macros.submit_form_icon_GET("bi-pencil hidden-element", data={'track_id':track.id}, url="/track/edit")}}
    {{general_macros.submit_form_icon_GET("bi-trash hidden-element", data={'track_id':track.id}, url="/track/delete")}}
{% elif music_access_level == 'admin' %}
    {% if single_track_data.get('track').is_flagged %}
        {{general_macros.submit_form_icon_GET("bi-flag-fill", data={'item_id':track.id}, url="/admin/unflag/track")}}
    {% else %}
        {{general_macros.submit_form_icon_GET("bi-flag hidden-element", data={'item_id':track.id}, url="/admin/flag/track")}}
    {% endif %}
    {{general_macros.submit_form_icon_GET("bi-trash hidden-element", data={'item_id':track.id}, url="/admin/delete/track")}}
{% endif %}

{% endblock %}


{# Adding options for track based on music page context #}
{% block music_specific_options %}

{% set page_context = single_track_data['track_listing_type']['page_type'] %}

{% if page_context == 'playlist' %}
    {{submit_form_icon_POST("bi-dash-square hidden-element", data={'track_id':track.id, 'playlist_id':content.id}, url="/playlist/modify/remove_track")}}
{% elif page_context == 'album' %}
    {{submit_form_icon_POST("bi-dash-square hidden-element", data={'track_id':track.id, 'album_id':content.id}, url="/album/modify/remove_track")}}
{% endif %}

{% endblock %}
