{% extends 'layouts/base_layout.html' %}
{% set user_type_navbrand_subscript="Admin" %}

<!-- Dropdown of user profile photo -->
{% block role_specific_info %}
{% endblock %}


<!-- Extra left navigation links for the Admin -->
{% block extra_left_nav_options %}
<li class="nav-item">
    <a class="nav-link {{dashboard_link}}" href="/admin/dashboard">Dashboard</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Review
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Songs</a></li>
      <li><a class="dropdown-item" href="#">Lyrics</a></li>
      <li><a class="dropdown-item" href="#">Albums</a></li>
      <li><a class="dropdown-item" href="#">Creators</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Actions Taken
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Songs</a></li>
      <li><a class="dropdown-item" href="#">Lyrics</a></li>
      <li><a class="dropdown-item" href="#">Albums</a></li>
      <li><a class="dropdown-item" href="#">Creators</a></li>
    </ul>
</li>
{% endblock extra_left_nav_options %}



