{% extends 'layouts/base_layout.html' %}
{% set user_type_navbrand_subscript="Studio" %}


<!-- Dropdown of user profile photo -->
{% block role_specific_info %}

<!-- Button trigger modal -->
<li class="dropdown-item btn" data-bs-toggle="modal" data-bs-target="#roleSwitchModal">Go back as normal user</li>

{% endblock %}


<!-- Extra left navigation links for the Admin -->
{% block extra_left_nav_options %}
<li class="nav-item">
  <a class="nav-link {{dashboard_link}}" href="/creator/dashboard/{{current_user.id}}">Dashboard</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      My Content
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/my-content/tracks">Songs</a></li>
      <li><a class="dropdown-item" href="/my-content/albums">Albums</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Add Content
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/track/upload">Upload a Song</a></li>
      <li><a class="dropdown-item" href="/album/create">Create an Album</a></li>
    </ul>
</li>
{% endblock extra_left_nav_options %}



{% block other_html %}
{{ super() }}
<!-- Modal for confirmation of role change-->
<div class="modal fade" id="roleSwitchModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            All Songs, Albums uploaded by you will be deleted from the platform. Make sure you know exactly what are you doing.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/change_role/creator/user/{{current_user.id}}" type="button" class="btn btn-danger">Yes, I'm sure.</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}

