/* body {
    background-color: rgb(36, 72, 72);

} */


/* .mainnav .active {
    color: red!important;
} */


/* .hero-area{
	background-image: url('../static/images/general/hero_image.jpg');
	min-height: 400px;
	background-position: 20% 10%;
	background-size: 100%;
} */
