#playerX {
    height: 90vh;
    width: 100%;
    background: #121212;
    border-radius: 20px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.song-details {
    text-align: center;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.control-btn {
    margin: 8px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 16px;
    border-radius: 90px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}
.control-btn:hover,
.control-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #fff;
  /*transform: translateY(-0.15em);*/
}

.album-art{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/* Custom styles for the album art */
.album-container {
    position: relative;
    overflow: hidden;
    width: 40vh; /* Adjust the size as needed */
    height: 40vh; /* Adjust the size as needed */
    margin: 20px;
    border: 2px solid #fff;
    transition: filter 0.3s ease-in-out;
}

.overlay {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Adjust the overlay color and transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.btn-enlarge {
    display: none;
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.overlay:hover + .album-art{
    filter: blur(5px); /* Adjust the blur amount */

    /*opacity: 1;*/
}



.overlay:hover .btn-enlarge {
    display: block;
    filter: blur(0);
    transform: scale(1.2); /* Adjust the button scaling */
}